pipeline/PL_Incrementlaload.json
{
	"name": "PL_Incrementlaload",
	"properties": {
		"activities": [
			{
				"name": "Lookup for table list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_blob_table_Increment_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach for all table list",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "watermarktable",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select watermarkDatetime from watermarktable where Tablename='@{item().sourcetable}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_full_load_watermarkdatetime",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Maxmodifieddate",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select max(modifieddate) newmodifieddate from @{item().sourceschema}.@{item().sourcetable}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_full_load_watermarkdatetime",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy data from source to target",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "watermarktable",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Maxmodifieddate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().sourceschema}.@{item().sourcetable} where modifieddate >'@{activity('watermarktable').output.firstRow.watermarkDatetime}' and modifieddate<='@{activity('Maxmodifieddate').output.firstRow.newmodifieddate}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": {
										"value": "Truncate table @{item().targetschema}.@{item().targettable}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_onprem_incrementalload_SQLDB",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_azure_sql_incremental_target",
									"type": "DatasetReference",
									"parameters": {
										"Targetschema": {
											"value": "@item().targetschema",
											"type": "Expression"
										},
										"TargetTable": {
											"value": "@item().targettable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update watermark table",
							"type": "SqlServerStoredProcedure",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Copy data from source to target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureParameters": {
									"ModifiedDate": {
										"value": {
											"value": "@activity('watermarktable').output.firstRow.watermarkDatetime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().sourcetable",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_onprem_dev",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "update watermark",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy data from source to target",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ls_sql_onprem_dev",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update watermarktable set watermarkDatetime='@{activity('Maxmodifieddate').output.firstRow.newmodifieddate}' where Tablename = '@{item().sourcetable}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup for table list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup for table list').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().status,'1')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-05-10T17:09:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}